{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="section">
    <h3 class="header center amber-text text-darken-4">{% trans "Sign Out" %}</h3>
    <p class="center">{% trans 'Are you sign out?' %}</p>

    <form class="center" method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <br>
      <button class="btn-floating btn-large waves-effect 
      waves-effect waves-light red hoverable pulse" 
      type="submit">{% trans 'Yes' %}</button>
    </form>
  </div>
</div>

{% endblock %}