{% load static %}


<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Restaurant</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />

</head>

<body>
    <!-- Navigation -->
    <nav class="white z-depth-1 blue-grey lighten-5" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{% url 'home' %}"
            class="brand-logo brown-text">
            <i class="material-icons prefix">home</i></a>
            <ul class="right hide-on-med-and-down">
                <li class="green lighten-4">
                    <a class="" href="{% url 'home' %}">Home</a>
                </li>
                <li class="deep-purple lighten-4">
                    <a class="" href="{% url 'menu' %}">Menu</a>
                </li>
                <li class="">
                    <a class="waves-orange amber lighten-2" href="{% url 'booking' %}">
                        Reservation
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li class="">
                    <a class="pink lighten-4" href="{% url 'restaurant' %}">Bookings</a>
                </li>
                <li class="">
                    <a class="amber lighten-4" href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="blue lighten-4">
                    <a class="" href="{% url 'account_signup' %}">Register</a>
                </li>
                <li class="amber lighten-4">
                    <a class="" href="{% url 'account_login' %}">Login Staff</a>
                </li>
                {% endif %}
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li class="green lighten-4">
                    <a class="" href="{% url 'home' %}">Home<i class="material-icons">home</i></a>
                </li>
                <li class="deep-purple lighten-4">
                    <a class="" href="{% url 'menu' %}">Menu<i class="material-icons">menu</i></a>
                </li>
                <li class="">
                    <a class="waves-orange amber lighten-2" href="{% url 'booking' %}">
                        Reservation<i class="material-icons">perm_phone_msg</i></a>
                </li>
                {% if user.is_authenticated %}
                <li class="">
                    <a class="pink lighten-4" href="{% url 'restaurant' %}">
                        Bookings<i class="material-icons">perm_contact_calendar</i></a>
                </li>
                <li class="amber lighten-4">
                    <a class="" href="{% url 'account_logout' %}">
                        Logout<i class="material-icons">lock_outline</i></a>
                </li>
                {% else %}
                <li class="blue lighten-4">
                    <a class="" href="{% url 'account_signup' %}">
                        Register<i class="material-icons">account_circle</i></a>
                </li>
                <li class="amber lighten-4">
                    <a class="" href="{% url 'account_login' %}">
                        Login<i class="material-icons">lock_open</i></a>
                </li>
                {% endif %}
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <main>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->

    <footer class="page-footer grey">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="amber-text text-lighten-4">Company Bio</h5>
                    <p class="amber-text text-lighten-5">
                        If you are reading this you are probably my mother or my brother, 
                        if not, then Hallo and welcome! This website is a school project 
                        from Code Institute on how to build a website that is more in line 
                        with 2022 with embedded backend operations.
                    </p>


                </div>
                <div class="col l3 s12">
                    <h5 class="amber-text text-lighten-4">Shameless Self Promotion</h5>
                    <ul>
                        <li><a class="amber-text text-lighten-5" target="_blank"
                            href="https://www.youtube.com/watch?v=Jpd434ALbfY">Music</a></li>
                        <li><a class="amber-text text-lighten-5" target="_blank"
                            href="https://www.youtube.com/watch?v=d12blaQ1kxY&feature=youtu.be">
                            Film Music</a></li>
                        <li><a class="amber-text text-lighten-5" target="_blank" 
                            href="https://github.com/DrMaxPower">GitHub</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="amber-text text-lighten-4">Info</h5>
                    <ul>
                        <li class="amber-text text-lighten-5">Niklas Strassmann</li>
                        <li class="amber-text text-lighten-5">Lidingö</li>
                        <li class="amber-text text-lighten-5">n.strassmann@protonmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <span class="amber-text text-lighten-4">Made by</span> 
                &emsp; 
                <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
                &emsp;  
                <a class="grey-text text-darken-3" href="https://codeinstitute.net/">
                    C<span class="orange-text text-darken-3">o</span>de Institute</a>
                &emsp;  
                <a class="brown-text text-lighten-3" href="#">Niklas Strassmann</a>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src=" {% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>