{% extends "base.html" %}

{% block content %}
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
  </div>
  {% load static %}
  <div class="parallax"><img src="{% static 'images/lake-g9469f9732_1920.jpg' %}" alt="Unsplashed background img 1">
  </div>
</div>
{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% load static %}
<div class="container">
  <div class="section">
    <h1 class="header center amber-text text-darken-4">Book a Table</h1>
    <form method="POST" action="{% url 'booking' %}" class="col s12">
      {% csrf_token %}

      <!-- First Name Input -->
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" value="{{ fname }}" name="fname">
          <label for="first_name">First Name</label>
        </div>

      <!-- Last Name Input -->
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" name="lname" value="{{ lname }}">
          <label for="last_name">Last Name</label>
        </div>
      </div>

      <!-- Email Input -->
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" value="{{ email }}" name="email">
          <label for="email">Email</label>
        </div>
      </div>

      <!-- Number of Guests Input -->
      <div class="input-field col s12">
        <i class="material-icons prefix">people</i>
        <input id="number" type="number" value="{{ guests }}" id="guests" name="guests" >
        <label for="autocomplete-input">How many at the table?</label>
      </div>

      <!-- What Date and Time Input -->
      <div class="input-field col s12">
        <input type="datetime-local" name="date" value="{{ date }}"/>
      </div>

      <!-- Extra Information -->
      <div class="input-field col s12">
        <i class="material-icons prefix">textsms</i>
        <input type="text" id="autocomplete-input" class="autocomplete" name="info" id="info" value="{{ info }}">
        <label for="autocomplete-input">Good to know information</label>
      </div>


      <!-- Submit Form -->
      <button class="btn amber accent-4 hoverable" type="submit" name="action">Submit Booking
        <i class="material-icons right">send</i>
      </button>

      
    </form>
  </div>
</div>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
  </div>
  <div class="parallax"><img src="{% static 'images/lake-g9469f9732_1920.jpg' %}" alt="Unsplashed background img 1">
  </div>
</div>

{%endblock%}