{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="container">
    <div class="section">
        <h3 class="header center amber-text text-darken-4">All Bookings</h3>
        {% for item in all %}
        <div class="bookings center s8" id="booking-block">
            <h5 hidden> {{ item.date| date:"d" }} </h5>
            <h6 hidden> {{ item.date| date:"m" }} </h6>
            <h7 hidden> {{ item.date| date:"y" }} </h7>
            <div class="divider"></div>
            <div class="row">
                {% if not item.info %}
                <div class="col s12 center-align">
                    <p>
                        <!-- First and Last name -->
                        {{ item.fname }} {{item.lname}}
                        &ensp;
                        <!-- What Houer and Min-->
                        {{ item.date| date:"H:i" }}
                        &ensp;
                        <!-- If guests Then show how many -->
                        {% if item.guests > 0 %}
                        Guests: 
                        &nbsp;
                        {{ item.guests }}
                        {% else %} &nbsp;
                        {% endif %}
                    </p>
                </div>
                {% else %}
                <div class="col s12 m6 center-align">
                    <p>
                        <!-- First and Last name -->
                        {{ item.fname }} {{item.lname}}
                        &ensp;
                        <!-- What Houer -->
                        {{ item.date| date:"H:i" }}
                        &ensp;
                        <!-- If guests Then show how many -->
                        {% if item.guests > 0 %}
                        guests: 
                        &nbsp;
                        {{ item.guests }}
                        {% else %} &nbsp;
                        {% endif %}
                    </p>
                </div>
                <div class="col s12 m6">
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header yellow lighten-5">
                                <i class="material-icons">info</i>
                                <span class="truncate">{{ item.info | safe }}</span>
                            </div>
                            <div class="collapsible-body orange lighten-5"><span>{{ item.info | safe }}</span></div>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Scaled out -->
<a id="scale-demo" href="#!" class="btn-floating btn-large scale-transition scale-out">
    <i class="material-icons">add</i>
</a>

{%endblock%}

